{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="about-box">
    <div class="about-intro">
        <p style="text-align:center;">
          <span class="about-title" >
            ABOUT US
          </span>
        </p>
        <div class="about-contain-box" >
            <p>
                NTD was established in 2018. We mainly engaged in
                building Structure Analysis and Design, SOE, Shop
                Drawing and Detailing in USA.We are built on the strength of our people. Due to
                our professional skill and serious attitude, we has
                enjoyed continuous growth and expansion.
            </p>
        </div>


    </div>
</div>

<script>

</script>

<script>

</script>
{% endblock %}
