{% extends 'base.html' %}
{% block content %}
{% load static %}


<div id="Photo" >
 {% if MessageName %}
    <div  style="margin:auto;display:block;">
    <h1 style="text-align:center;color:white">Thanks {{ MessageName }}!</h1>
    <p style="text-align:center;color:white"> We received your message and will respond shortly..</p>


    </div>
 {%  else  %}

    <div id="InfoBlock"  >


        <div id="InfoCover" >
            <h2  id="ContactUs" > Contact Us </h2>
            <p class="Contain" id="Contain" >Please fill in the message form if you have any inquiry. Thank you!</p>
            <p class="AttachedWord">50 Main St #1000 White Plains, NY 10606 <a id="MapLocation" href="https://reurl.cc/0OEY8Y">(Map Location)</a></p>
            <p class="AttachedWord">Tel:(000)000-0000 </p>


        </div>
    </div>
    <div id="Empty" style="flex:0.1">

    </div>
    <div id="MessageBlock">
        <div id="MessageCover">
            <div class="Title">Message</div>

        <div id="FormBox" >
            <form id="MessageForm" class="form-horizontal" action="{% url 'contact' %}" method="post" >
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="InputItem">
                                <input type="text" id="Name" name="Message-Name" placeholder="Name*" class="input-xlarge">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="InputItem">
                                <input type="text" id="Email" name="Message-Email" placeholder="Email*" class="input-xlarge">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="InputItem">
                                <input type="text" id="Company" name="Message-Company" placeholder="Company"
                                       class="input-xlarge">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="InputItem">
                                <input type="text" id="Phone" name="Message-Phone" placeholder="Phone" class="input-xlarge">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="InputItem">
                    <textarea name="Message" id="inputTextarea" form="MessageForm" tabindex="13" placeholder="Message*" aria-invalid="false" rows="5" cols="50"></textarea>
                      <input type="submit" value="Send Message" id="submit" class="btn"
                                  >


                            </div>

                        </div>


                    </div>
                </div>


            </form>


        </div>

    </div>

</div>
    {%  endif  %}
</div>

</div>



{% endblock %}
