
 .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  * {
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft JhengHei", "Gotham SSm A", "Gotham SSm B", Graphik, Helvetica, Arial, sans-serif;

  }

  body {
    width: 100%;
    height: 100%;
    background:rgba(253, 253, 253, 0.5);     
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  nav {
    background-color: rgba(255, 255, 255, 0.9);
  }

    
  .navbar-nav{
    margin-left: auto;
    margin-right: 0;
  }

  .FontMax {
    font-size: 36px;
    font-weight: 400;
    font-family: "Microsoft JhengHei";
  }

  .FontLarge {
    font-size: 2.0em;

    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    color: rgb(70, 70, 70);
    letter-spacing: 1px;
  }

  .FontBig {
    font-size: 14px;
    font-weight: lighter;
    font-family: "Microsoft JhengHei", "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    line-height: 1.2em;
    color: rgb(70, 70, 70);
    letter-spacing: 1px;
  }

  .FontMid {
    font-size: .95em;
    font-family: "Gotham SSm A", "Gotham SSm B", Graphik, Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    color: rgb(100, 100, 100);
    text-shadow: 0 0 10px rgb(246, 235, 226);
  }

 

  html {
    width: 100vw;
    height: 100vh;
  }

  .ChildCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  ul {
    display: flex;
    justify-content: center;
    margin-right: 10%;
  }

  li {
    flex: auto;
    text-align: center;
    font-size: 16px;
    font-family: "Microsoft JhengHei";
  }

  p {
    margin: 0px;
  }

  .JSNavSpan {
    border-bottom: 2px solid transparent;
    transition: .1s;
    transition-timing-function: ease-out;
  }

  .JSNavSpan:hover {
    border-bottom: 2px solid rgb(195, 13, 3);
    transition: 1s;
    transition-timing-function: ease-out;
  }

  #sidebar {
    min-width: 270px;
    max-width: 270px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
    border-right: 1px solid rgb(250, 250, 250);
    padding: 0px;
  }

  #sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    height: 100%;
  }

  #sidebar.active ul.components li {
    text-align: center;
    font-size: 12px;
  }

  #sidebar.active ul.components li a {
    padding: 10px 0;
  }

  #sidebar.active ul.components li a span {
    margin-right: 0;
    display: block;
    font-size: 24px;
  }

  #sidebar.active .logo {
    padding: 10px 0;
  }

  #sidebar.active .footer {
    display: none;
  }

  #sidebar ul.components {
    margin: auto;
    display: block;
    padding: 0px;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }


  #sidebar ul li>ul {
    margin-left: 10px;
  }

  #sidebar ul li>ul li {
    font-size: 14px;
  }

  #sidebar ul li a {

    display: block;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #sidebar ul li a span {
    margin-right: 15px;
  }

  @media (max-width: 991.98px) {
    #sidebar ul li a span {
      display: block;
    }
  }


  .grade-box {
    height: 16%;
    margin: auto;
    display: flex;
    width: 60%;
    text-align: center;
    width: fit-content;

  }

  .grade-item {
    min-height: 20%;
    margin: auto;
    border-right: 1px solid rgb(217, 217, 217);
    border-left: 1px solid rgb(217, 217, 217);
  }

  .carousel-item {
    height: 570px;
    width: 500px;
    min-height: 300px;
    margin-bottom: 5%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;

  }

  .carousel-inner {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

  }

  .carousel-caption {
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    display: block !important;
  }

  .carousel-control-prev>div,
  .carousel-control-next>div {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    position: absolute;
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-control-prev-icon {
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .carousel-control-next-icon {
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: rgb(195, 13, 51);
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: rgb(195, 13, 51);
  }

  .display-4 {
    font-size: 1.5em;

  }

  carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 20px;
    left: 5%;
  }



  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  @media only screen and (max-width: 1000px) {
    .grade-box {
      flex-wrap: wrap;
    }

    .grade-item {
      border-left: 0;
      border-right: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  @media only screen and (max-width: 725px) {
    #UntilNowBlock {
      margin-top: 20%;
    }

    .carousel-inner {
      margin-top: 10%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 30px;
      width: 30px;
      border: 0;
    }

    .carousel-item {
      height: fit-content;
      max-height: -webkit-fill-available;
      width: 300px;
      max-width: 80vw;
    }

    .carousel-caption>h3 {
      font-size: 1rem;
    }

    .carousel-caption>p {
      font-size: 0.8rem;
    }
  }





